

.nav-bar{
    font-family: 'Raleway',sans-serif;
    display: flex;
    justify-content: space-between;
    margin-inline: var(--margin-inline);
    width: var(--width);
    margin-top: 4rem;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    font-weight: 400;
}

.nav-image{
    width: 18vw;
}

ul {
    display: flex;
    gap: 4rem;
}

li{
    list-style: none;
    font-weight: 600;
}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}